<!DOCTYPE html>
<!--<html ng-app>-->
<html>
<head>
	<!-- Usar la propiedad 'title' para renderizar un título de página  -->
	<title><%= title %></title>
</head>
<body>
	<!-- Si un usuario es autentificado, mostrar el nombre completo del usuario, de no ser así mostrar los enlaces de autentificación -->
	<% if ( userFullName ) { %>
		<h2>Hola <%=userFullName%> </h2> 
		<a href="/signout">Cerrar Sesión</a>
	<% } else { %>
		<a href="/signup">Crear Cuenta</a>
		<a href="/signin">Identificarse</a>
	<% } %>
	<br>

	<!-- Load the static image file  -->
	<img src="img/logo.png" alt="Logo">
	
	<section ng-include="'example/views/example.client.view.html'"></section>

	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/application.js"></script>
	<script type="text/javascript" src="/example/example.client.module.js"></script>
</body>
</html>